[mysqld]
# Data directory for MySQL
datadir = /var/lib/mysql

# Socket file location for MySQL
socket = /run/mysqld/mysqld.sock

# Bind address for MySQL server to listen on all available network interfaces
bind_address = *

# Port number for MySQL server
port = 3306

# User under which the MySQL server runs
user = mysql